<main>
  <%= render partial: 'layouts/profile_info' %>
  <section class="other-info">
    <ul class="info">
      <%= render partial: 'layouts/user_links' %>
      <% @repositories.each_with_index do | repo, index | %>
      <li class="repository a<%= index %> list-panel bottom-border">
        <%= link_to repo.name, repo.html_url, class: "repo-name" %>
        <h5 class="repo-description panel-info"><%= repo.description %></h5>
        <div class="other-repo-info flex-row-wrap">
          <% if repo.language %>
            <h6 class="repo-language panel-info"><i class="fas fa-circle"></i> <%= repo.language %></h6>
          <% end %>
          <% unless repo.forks.zero? %>
            <h6 class="repo-forks panel-info"><i class="fas fa-code-branch"></i> <%= repo.forks %></h6>
          <% end %>
          <h6 class="repo-updated panel-info">Last updated: <%= DateTime.parse("#{repo.updated_at}").strftime('%B %e, %Y at %I:%M:%S %p') %></h6>
      </li>
      <% end %>
    </ul>
  </section>
</main>
