<main>
  <%= render partial: 'layouts/profile_info' %>
  <section class="other-info">
    <ul class="info">
      <%= render partial: 'layouts/user_links' %>
      <% @followers.each_with_index do | follower, index | %>
      <li class="follower a<%= index %>">
        <div class="follower-avatar">
            <%= image_tag(@profile.avatar_url, class: "avatar-thumbnail") %>
        <div>
        <div class="follower-info">
          <div class="follower-names">
            <%= link_to follower.name, "/#{follower.username}", class: "follower-name" %>
            <%= link_to follower.username, "/#{follower.username}", class: "follower-username" %>
          </div>
          <h5 class="follower-bio"><%= follower.bio %></h5>
          <div class="follower-organization-location">
            <h5 class="follower-organization"><%= follower.organization %></h5>
            <h5 class="follower-location"><%= follower.location %></h5>
          </div>
        </div>
      </li>
      <% end %>
    </ul>
  </section>
</main>
