<main>
  <%= render partial: 'layouts/profile_info' %>
  <section class="other-info">
    <ul class="info">
      <%= render partial: 'layouts/user_links' %>
      <% @followers.each_with_index do | user, index | %>
        <li class="follow a<%= index %> list-panel bottom-border">
          <div class="follow-avatar">
              <%= image_tag(user.avatar_url, class: "avatar-thumbnail") %>
          </div>
          <div class="follow-info">
            <div class="follow-names flex-row-wrap">
              <%= link_to user.name, "/#{user.username}", class: "follow-name" %>
              <%= link_to user.username, "/#{user.username}", class: "follow-username" %>
            </div>
            <h5 class="follow-bio panel-info"><%= user.bio %></h5>
            <div class="follow-company-location flex-row-wrap">
              <% if user.company %>
                <h5 class="follow-company panel-info"><%= user.company %></h5>
              <% end %>
              <h5 class="follow-location panel-info"><%= user.location %></h5>
            </div>
          </div>
        </li>
      <% end %>
    </ul>
  </section>
</main>
