<li class="links bottom-border">
  <%= link_to "Overview", "/#{@profile.username}", class: "user-link" %>
  <a class="user-link" href="/<%= @profile.username%>/repos">Repositories <span class="count"><%= @profile.repo_quantity %></span></a>
  <a class="user-link" href="/<%= @profile.username%>/starred">Starred <span class="count"><%= @profile.starred_count(@profile.username, current_user.oauth_token) %></span></a>
  <a class="user-link" href="/<%= @profile.username%>/followers">Followers <span class="count"><%= @profile.followers_quantity %></span></a>
  <a class="user-link" href="/<%= @profile.username%>/following">Following <span class="count"><%= @profile.following_quantity %></span></a>
</li>
